*~
*.bak
Thumbs.db
desktop.ini
composer.lock
.DS_Store
.buildpath
.project
.settings
.tmpoj
.idea
nbproject/
fuel/*/resources/logs/
fuel/*/resrouces/cache/
fuel/_composer/.composer/
fuel/_composer/dflydev/
fuel/_composer/twig/
