<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" stopOnFailure="false" bootstrap="phpunit_bootstrap.php">
	<php>
		<server name="doc_root" value="../public"/>
		<server name="app_path" value="app"/>
		<server name="core_path" value="core"/>
		<server name="kernel_path" value="kernel"/>
	</php>
	<testsuites>
		<testsuite name="kernel">
			<directory suffix=".php">kernel/resources/tests</directory>
		</testsuite>
		<testsuite name="core">
			<directory suffix=".php">core/resources/tests</directory>
		</testsuite>
		<testsuite name="app">
			<directory suffix=".php">app/resources/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>